services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: app
      MYSQL_USER: ekadov
      MYSQL_PASSWORD: ekadov
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ekadov
      SPRING_DATASOURCE_PASSWORD: ekadov
      APP_S3_ENDPOINT: http://minio:9000
      APP_S3_ACCESSKEY: minioadmin
      APP_S3_SECRETKEY: minioadmin
      APP_S3_BUCKET: app-files
      APP_JWT_SECRET: secret_secret_secret_secret_secret_secret_secret_secret_secret
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK: DEBUG
      LOGGING_LEVEL_ORG_HIBERNATE_SQL: DEBUG
      LOGGING_LEVEL_ORG_HIBERNATE_ORM_JDBC_BIND: TRACE
      LOGGING_LEVEL_ORG_FLYWAYDB: DEBUG
    ports:
      - "8081:8081"
